<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logistics_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".SendActivity"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name=".DistrictMainActivity"
            android:label="@string/title_activity_district" >
        </activity>
        <activity
            android:name=".MPActivity"
            android:label="@string/title_activity_mp" >
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/title_activity_search_result" >
        </activity>
        <activity
            android:name=".AddDistrictActivity"
            android:label="@string/title_activity_add_district" >
        </activity>
        <activity
            android:name=".ProvinceMainActivity"
            android:label="@string/title_activity_province_main" >
        </activity>
        <activity
            android:name=".SearchModifyPrintActivity"
            android:label="@string/title_activity_search_modify_print" >
        </activity>
        <activity
            android:name=".ModifyPrintActivity"
            android:label="@string/title_activity_modify_print" >
        </activity>
        <activity
            android:name=".WriteActivity"
            android:label="@string/title_activity_write" >
        </activity>
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main" >
        </activity>
        <activity
            android:name=".ProvinceManageActivity"
            android:label="@string/title_activity_province_manage" >
        </activity>
        <activity
            android:name=".DistrictManageActivity"
            android:label="@string/title_activity_district_manage" >
        </activity>
        <activity
            android:name=".DistrictSortActivity"
            android:label="@string/title_activity_district_sort" >
        </activity>
        <activity
            android:name=".ProvinceSortActivity"
            android:label="@string/title_activity_province_sort" >
        </activity>
        <activity
            android:name=".ProvinceSendActivity"
            android:label="@string/title_activity_province_send" >
        </activity>
        <activity
            android:name=".DistrictSendActivity"
            android:label="@string/title_activity_district_send" >
        </activity>
    </application>

</manifest>
