<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logistics_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.logistics_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.logistics_android.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.logistics_android.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.logistics_android.SendActivity"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name="com.example.logistics_android.DistrictMainActivity"
            android:label="@string/title_activity_district" >
        </activity>
        <activity
            android:name="com.example.logistics_android.MPActivity"
            android:label="@string/title_activity_mp" >
        </activity>
    </application>

</manifest>
